<input type="text" placeholder="שם המתכון" #name>
<br>
<select>
    <option  *ngFor="let item of allCategories" value="item.code" #category>
        {{item.name}}
    </option>
</select>
<br>

<input type="number" placeholder="זמן הכנה" #time>
<br>
<div  *ngFor="let item of arringredients; trackBy:trackByFn; let i=index;">
<input type="text"  [(ngModel)]="arringredients[i]" placeholder="רכיבים"  (keydown)="addIndexArringredients($event)" (focusout)="checkIfEmptyIngredient($event,i)" >
</div>
<br>

<div  *ngFor="let item of arrPreparation; trackBy:trackByFn; let i=index;">
    <input type="text"  [(ngModel)]="arrPreparation[i]" placeholder="הוראות הכנה"  (keydown)="addIndexArrPreparation($event)" (focusout)="checkIfEmptyPreparation($event,i)" >
    </div>
    

<br>

<input type="text" placeholder="הכנס תמונה" #image>
<br>

<input type="checkbox" placeholder="האם לפרסם?" #ifshow>
<button type="submit" (click)="AddRecipe(name.value,11,time.value,image.value,true)">הוסף</button>