<body>
    <div>
        {{myFullRecipe.nameRecipe}}
    </div>
    <div>
        {{myFullRecipe.timeAtMinute}}
    </div>
    <img src="./assets/level.png" width="20px" height="20px" *ngFor="let i of counter()">
    <div>
        {{myFullRecipe.addRecipe}}
    </div>
    <div *ngFor="let item of myFullRecipe.ingredients.split('-'); let i=index">
        <img src="./assets/kazefet.jpg" width="20px" height="20px">
        {{item}}

    </div>
    <div *ngFor="let item of myFullRecipe.Preparation.split('-'); let i=index">
        {{item}}
        {{i+1}}
    </div>
    <div>
        {{myFullRecipe.userCode}}
    </div>
    <div>
        {{myFullRecipe.image}}
    </div>
    <div>{{nameCategoryOfMyFullRecipe}}</div>
<!-- <div>{{getRecipeByCode()}}</div> -->
    <img src={{getCatortyImg()}}>
<img src="./assets/edit.png" *ngIf="isTheSameUserAdded()">
    

</body>
<!-- <img src="./assets/1.png"> -->
<router-outlet></router-outlet>