<!-- <body>
    <div>
        {{myFullRecipe.nameRecipe}}
    </div>
    <div>
        {{myFullRecipe.timeAtMinute}}
    </div>
    <img src="./assets/level.png" width="20px" height="20px" *ngFor="let i of counter()">
    <div>
        {{myFullRecipe.addRecipe|date}}
    </div>
    <div *ngFor="let item of myFullRecipe.ingredients.split('-'); let i=index">
        <img src="./assets/kazefet.jpg" width="20px" height="20px">
        {{item}}

    </div>
    <div *ngFor="let item of myFullRecipe.Preparation.split('-'); let i=index">
        {{item}}
        {{i+1}}
    </div>
    <img src="{{myFullRecipe.image}}" width="50%" height="50%">
    <div>{{nameCategoryOfMyFullRecipe}}</div>
    <img src={{getCatortyImg()}}>
    <img src="./assets/edit.png" *ngIf="isTheSameUserAdded()">


</body> -->

<!-- <---- --->

<body>
    <div class="allmaindetails" style="width: 100%;height: 400px; ">
        <div class="row" style="height: 100%;">
            <div class="col-5 mainDetails" style="height: 100%; width: 100%; padding: 5%;" displayed="block">
                
                <!-- <div>{{nameCategoryOfMyFullRecipe}}</div> -->
                {{myFullRecipe.nameRecipe}}
            </div>
            <div class="col-7 imageRecipe" style="height: 100%; width: 100%;">

                <img src="{{myFullRecipe.image}}" style="height: 100%; width: 100%; padding: 0%;">

            </div>

        </div>

    </div>

<div> {{test}}באדיבות </div>

</body>

<router-outlet></router-outlet>